*{
  /* border: solid red 1px; */
  
}
body {
  background-color: lightblue;
  margin: auto
  
}

.container {
  display: block;
  margin: auto
  max-width: 900px;
}

img{
  max-width: 100%;
  
  
  
}
div {
  padding: 10px;
}

h1 {
  text-align: center;
  font-size: 50px;
  
}

.form-holder, .image, .message {
        border: solid black 1px;
  }

.hidden{
    display: none;
}

